@model ToDoTest.Models.kullanicilar
@{
    ViewData["Title"] = "KullaniciGetir";
}

<h1>KullaniciGetir</h1>

@using (Html.BeginForm("KullaniciGuncelle", "kullanici", FormMethod.Post))
{
    @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })

    <b>Ad Soyad</b>
    <br />
    @Html.TextBoxFor(k => k.PersonelAd, new { @class = "form-control" })
    <b>Yetki Türü</b>
    <br />
    @Html.TextBoxFor(k => k.YetkiID, new { @class = "form-control" })
    <b>Kullanıcı Adı</b>
    <br />
    @Html.TextBoxFor(k => k.KullaniciAdi, new { @class = "form-control" })
    <b>Şifre</b>
    <br />
    @Html.TextBoxFor(k => k.Sifre, new { @class = "form-control" })
    <button class="btn btn-warning">Kullanıcı Ekle</button>


}